body {

    background-color: ghostwhite;
}

.container {
    margin-top: 100px;
}

.container.paydiv {

    max-width: 200px;
}

.createForm {
    max-width: 400px;
    padding-top: 50px;

}

label {

    font-weight: 300;

}

.totalnum {
    margin-left: 20px;
}
